.Menu {
  margin-top: 1%;
  text-align: center;
  margin-bottom: 2%;
  background-color: dimgray;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgrey;
}

.menuButton {
  margin: .5%;
  width: auto;
  height: 50px;
  border-radius: 2px;
}

html {
  background-color: darkslategrey;
}

.pageHeading {
  margin: 1%;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: lightgrey;
}

.bannerDiv {
  display: flex;
  justify-content: center;
}

.banner {
  max-width: 100%;  
}

@media only screen and (min-width: 800px) {
  .banner {
    max-width: 1600px;
  }
}

h2 {
  color: white;
  text-align:left;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: lightgrey;
  margin: 0.5% auto 0 6%;

}

.logoDiv {
  display: flex;
  background-color: black;
  border-bottom: 2px solid dimgray;
}

.logo {
  margin-left: 2%;
  max-width: 20%;
  max-height: 1.5cm;
}

.overviewDiv {
  display: flex;
  justify-content: left;
  border: 2px solid black;
  min-height: 5%;
  min-width: 20%;
  max-width: 90%;
  margin: 0.5rem 5% 5rem 5%;
  text-align: center;
  background-color: dimgray;
}

.tempBox {
  display: inline-block;
  background-color: lightgrey;
  margin: 1rem;
  min-width: 10%;
  min-height: 5rem;
  max-width: auto;
  text-align: center;
  border: solid 1px white;
  color:c;
}

.tempBox:hover{
  cursor: pointer;
}

td {
  text-align: left;
}

.dataCell {
  padding-left: 1rem;
  color: rgb(31, 26, 75);
  font-weight: bold;
}
